// Fonts
// @import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
// @import "variables";

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";


@import "login";
@import "admin";

// DataTables
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import 'datatables.net-select-bs5/css/select.bootstrap5.css';

.item-body {
    gap: 40px;
    overflow: hidden;
}

.bottomContent {
    height: max-content;
}

.item2,
.item3,
.item4 {
    width: 1326px;
}

.itemBtn {
    width: max-content;
}

.items {
    width: max-content;
    margin-left: 40px;
    margin-right: 90px;
}

.leftContent {
    transition: 0.3s ease-in-out; /* Adjust the duration and easing as needed */
}
